<footer class="pie-pagina">
    <a href="https://wa.me/91155975580" class="btnWp" target="_blank">
        <i class="fab fa-whatsapp"></i>
      </a>
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="images/daslogo.png" alt="Logo de SLee Dw">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Somos una empresa con compromiso, responsabilidad y trayectoria.</p>
            <p>No te arrepentiras al contratar a DAS Service para solucionar tus problemas.</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://www.instagram.com/das.service/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/das.service.lineablanca/" target="_blank" ><i class="fab fa-facebook-square"></i></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>COTS dev</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>