<head>
    <title>DAS service</title>
    <!-- Hoja de estilo -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">
    <!-- Script -->
    <script src="javascripts/app.js" defer></script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!-- ViewPort -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>