<!DOCTYPE html>
<html>
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>

    <div class="slider-frame">
      <ul>
          <li><img src="images/1.jpg" alt=""></li>
          <li><img src="images/2.jpg" alt=""></li>
          <li><img src="images/3.jpg" alt=""></li>
          <li><img src="images/2.jpg" alt=""></li>
      </ul>
    </div>


    <div class="nosContainer2" id="nosotros">
      <div class="title">
        <h2>SOBRE NOSOTROS</h2>
      </div>
      <p class="info">Somos una empresa especialista en solucionar problemas de la vida diaria. Contamos experiencia y clientes satisfechos a lo largo de todo Buenos Aires. Trabajamos con todas las marcas del mercado. ¡Déjanos tu mensaje al número de WhatsApp del link y a la brevedad nos estaremos comunicando con usted!  no dude en consultarnos.</p> 
      <p class="info">Nuestro objetivo es solucionar el inconveniente en su electrodoméstico para que funcione en óptimas condiciones. Para la tranquilidad de nuestros clientes con cada reparación entregamos garantía escrita. Nuestros pilares son la eficiencia y velocidad a la hora de realizar las reparaciones.</p>
    </div>
    <div class="pcontainer">
    <div class="container">
      <div class="title">
        <h2>MATRICULACION<i class="far fa-check-circle"></i></h2>
      </div>
      <p class="info">Todos los técnicos que trabajan en DAS service son matriculados y cuentan con años de experiencia.</p> 
    </div>
    <div class="container">
      <div class="title">
        <h2>GARANTIA<i class="far fa-check-circle"></i></h2>
      </div>
      <p class="info">Cuando termine la reparación de su electrodoméstico, el técnico le entregara una garantía firmada por 3 meses.</p> 
    </div>
    <div class="container">
      <div class="title">
        <h2>REPUESTOS ORIGINALES<i class="far fa-check-circle"></i></h2>
      </div>
      <p class="info">En DAS service solamente utilizamos repuestos originales para el óptimo funcionamiento de su electrodoméstico.</p> 
    </div>
    </div>

    <div class="imgContainer">
      <div class="imgContainer2" id="lavarropas" >
        <div class="serviceTitle">
          <h2>Service de Lavarropas</h2>
        </div>
        <img src="images/imgMain1.png" alt="" class="imgMain2">
        <p class="serviceInfo">Reparación/reemplazo de plaquetas - Reparación de motores - Cambio de tambor - Bombas de desagote - Reparación de automáticos - Cambio de tablero - Reparación de puertas - Problemas de corriente - Repuestos originales</p>
        <h4 class="serviceTitle2">Trabajamos todas las marcas - <a href="#top" >Subir</a></h4>
      </div>

      <div class="imgContainer2" id="secarropas">
        <div class="serviceTitle">
          <h2>Service de Secarropas</h2>
        </div>
        <img src="images/imgMain2.png" alt="" class="imgMain2">
        <p class="serviceInfo">Reparación/reemplazo de plaquetas - Reparación de motores - Cambio de tambor - Bombas de desagote - Reparación de automáticos - Cambio de tablero - Reparación de puertas - Problemas de corriente - Repuestos originales</p>
        <h4 class="serviceTitle2">Trabajamos todas las marcas - <a href="#top" >Subir</a></h4></h4> 
      </div>
      
      <div class="imgContainer2" id="lavavajillas">
        <div class="serviceTitle">
          <h2>Service de Lavajillas</h2>
        </div>
        <img src="images/imgMain4.png" alt="" class="imgMain2">
        <p class="serviceInfo">Reparación/reemplazo de plaquetas - Reparación de motores - Cambio de bandejas - Bombas de desagote - Reparación de automáticos - Cambio de tablero - Reparación de puertas - Problemas de corriente - Repuestos originales</p>
        <h4 class="serviceTitle2">Trabajamos todas las marcas - <a href="#top" >Subir</a></h4>
      </div> </h4> 
      
      <div class="imgContainer2" id="hornos">
        <div class="serviceTitle">
          <h2>Service  Hornos Electricos y Gas</h2>
        </div>
        <img src="images/imgMain3.png" alt="" class="imgMain2">
        <p class="serviceInfo">Reparación/reemplazo de plaquetas - Reparación de motores - Cambio de tambor - Bombas de desagote - Reparación de automáticos - Cambio de tablero - Reparación de puertas - Problemas de corriente - Repuestos originales</p>
        <h4 class="serviceTitle2">Trabajamos todas las marcas - <a href="#top" >Subir</a></h4></h4> 
      </div>
      <br>
      <div class="imgContainer2" id="aires">
        <div class="serviceTitle">
          <h2>Service de Aires Acondicionados y Split</h2>
        </div>
        <img src="images/imgMain5.png" alt="" class="imgMain2">
        <p class="serviceInfo">Reparación/reemplazo de plaquetas - Reparación de motores - Cambio de tambor - Bombas de desagote - Reparación de automáticos - Cambio de tablero - Reparación de puertas - Problemas de corriente - Repuestos originales</p>
        <h4 class="serviceTitle2">Trabajamos todas las marcas - <a href="#top" >Subir</a></h4></h4> 
      </div>

      <div class="imgContainer2" id="heladeras">
        <div class="serviceTitle">
          <h2>Service de Heladeras</h2>
        </div>
        <img src="images/imgMain6.png" alt="" class="imgMain2">
        <p class="serviceInfo">Reparación de Freezers - Reparación de motores - Cambio de burletes - Reparación/reemplazo de compresor - Reparación de automáticos - Cambio de evaporador - Reparación de puertas - Problemas de corriente - Repuestos originales</p>
        <h4 class="title2">Trabajamos todas las marcas - <a href="#top" >Subir</a></h4>
      </div>

      <div class="imgContainer2" id="otros">
        <div class="serviceTitle">
          <h2>Microondas y Hornitos Electricos</h2>
        </div>
        <img src="images/imgMain7.png" alt="" class="imgMain2">
        <p class="serviceInfo">Los microondas y hornos electricos blablablabla</p>
        <h4 class="serviceTitle2">Trabajamos todas las marcas - <a href="#top" >Subir</a></h4>
      </div>
    </div>
    

    <%- include("partials/footer") %>
  </body>
</html>
