<!DOCTYPE html> 
<html>

    <%- include("partials/head.ejs") %>
    
    <%- include("partials/header.ejs") %>
  <body>
    <header class="header">
        <nav class="nav">
          <a href="/" class="logoContainer">
            <img src="images/dasLogo.png" alt="" class="logo">
          </a>
          <button class="navToggle">
            <i class="fas fa-bars"></i>
          </button>
          <ul class="navMenu ">
            <li class="navMenuItem">
              <a href="/" class="navMenuLink navLink">Inicio</a>
            </li>
            <li class="navMenuItem">
                <a href="#lavarropas" class="navMenuLink navLink">LAVARROPAS</a>
            </li>
            <li class="navMenuItem">
                <a href="#secarropas" class="navMenuLink navLink">SECARROPA</a>
            </li>
            <li class="navMenuItem">
                <a href="#lavavajillas" class="navMenuLink navLink">LAVAVAJILLAS</a>
            </li>
            <li class="navMenuItem">
                <a href="#hornos" class="navMenuLink navLink">HORNOS</a>
            </li>
            <li class="navMenuItem">
                <a href="#aires" class="navMenuLink navLink">AIRES</a>
            </li>
            <li class="navMenuItem">
                <a href="#heladeras" class="navMenuLink navLink">HELADERAS</a>
            </li>
            <li class="navMenuItem">
                <a href="/" class="navMenuLink navLink">OTROS</a>
            </li>
          </ul>
        </nav>
      </header>

    <main>
    <div class="imgContainer">
      <div class="imgContainer2" id="lavarropas" >
        <div class="serviceTitle">
          <h2>Service de Lavarropas</h2>
        </div>
        <img src="images/imgMain1.png" alt="" class="imgMain2">
        <p class="serviceInfo">Reparación/reemplazo de plaquetas - Reparación de motores - Cambio de tambor - Bombas de desagote - Reparación de automáticos - Cambio de tablero - Reparación de puertas - Problemas de corriente - Repuestos originales</p>
        <h4 class="serviceTitle2">Trabajamos todas las marcas - <a href="#top" >Subir</a></h4>
      </div>

      <div class="imgContainer2" id="secarropas">
        <div class="serviceTitle">
          <h2>Service de Secarropas</h2>
        </div>
        <img src="images/imgMain2.png" alt="" class="imgMain2">
        <p class="serviceInfo">Reparación/reemplazo de plaquetas - Reparación de motores - Cambio de tambor - Bombas de desagote - Reparación de automáticos - Cambio de tablero - Reparación de puertas - Problemas de corriente - Repuestos originales</p>
        <h4 class="serviceTitle2">Trabajamos todas las marcas - <a href="#top" >Subir</a></h4></h4> 
      </div>
      
      <div class="imgContainer2" id="lavavajillas">
        <div class="serviceTitle">
          <h2>Service de Lavajillas</h2>
        </div>
        <img src="images/imgMain4.png" alt="" class="imgMain2">
        <p class="serviceInfo">Reparación/reemplazo de plaquetas - Reparación de motores - Cambio de bandejas - Bombas de desagote - Reparación de automáticos - Cambio de tablero - Reparación de puertas - Problemas de corriente - Repuestos originales</p>
        <h4 class="serviceTitle2">Trabajamos todas las marcas - <a href="#top" >Subir</a></h4>
      </div> </h4> 
      
      <div class="imgContainer2" id="hornos">
        <div class="serviceTitle">
          <h2>Service  Hornos Electricos y Gas</h2>
        </div>
        <img src="images/imgMain3.png" alt="" class="imgMain2">
        <p class="serviceInfo">Reparación/reemplazo de plaquetas - Reparación de motores - Cambio de tambor - Bombas de desagote - Reparación de automáticos - Cambio de tablero - Reparación de puertas - Problemas de corriente - Repuestos originales</p>
        <h4 class="serviceTitle2">Trabajamos todas las marcas - <a href="#top" >Subir</a></h4></h4> 
      </div>
      
      <div class="imgContainer2" id="aires">
        <div class="serviceTitle">
          <h2>Service de Aires Acondicionados y Split</h2>
        </div>
        <img src="images/imgMain5.png" alt="" class="imgMain2">
        <p class="serviceInfo">Reparación/reemplazo de plaquetas - Reparación de motores - Cambio de tambor - Bombas de desagote - Reparación de automáticos - Cambio de tablero - Reparación de puertas - Problemas de corriente - Repuestos originales</p>
        <h4 class="serviceTitle2">Trabajamos todas las marcas - <a href="#top" >Subir</a></h4></h4> 
      </div>

      <div class="imgContainer2" id="heladeras">
        <div class="serviceTitle">
          <h2>Service de Heladeras</h2>
        </div>
        <img src="images/imgMain6.png" alt="" class="imgMain2">
        <p class="serviceInfo">Reparación de Freezers - Reparación de motores - Cambio de burletes - Reparación/reemplazo de compresor - Reparación de automáticos - Cambio de evaporador - Reparación de puertas - Problemas de corriente - Repuestos originales</p>
        <h4 class="serviceTitle2">Trabajamos todas las marcas - <a href="#top" >Subir</a></h4>
      </div>
    </div>
      
    </main>

    <%- include("partials/footer.ejs") %>

  </body>
</html>
