*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  
}

:root {
  --blue: #0d2033;
  --blue-1: #162f47;
  --red: #b70b0b;
  --darkBlue: #0a141d;
}

body {
  padding: 0 0;
  background: #efefef;
}

/* HEADER */

.header {
  background-color: var(--blue);
  height: 80px;
  width: 100%;
  position:fixed;
  top:0;
  left:0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  color:white;
  text-decoration: none;
}

.logoContainer{
  padding: 15px
}

.logo {
  width: 150px;
}

.navMenu {
  display: flex;
  margin-right: 40px;
}

.navMenuItem {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
}

.navMenuLink {
  padding: 8px 12px
}

.navMenuItem:hover {
  font-size: larger;
  transition: .5s
}

.navToggle {
  color:white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  display: none;
  cursor:pointer;
}

/* SLIDER */

.slider-frame {
	width: 100vw;
  height: auto;
	margin:80px auto 0px;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/* NOSOTROS */

.nosContainer {
  background: #efefef;
  text-align: center;
  padding-top: 85px;
}

.nosContainer2 {
  background: #efefef;
  text-align: center;
  padding-top: 20px;
}

.pcontainer {
  display: flex;
  padding: 15px
}
.container {
  background: #efefef;
  text-align: center;
  padding: 20px
}

.info {
  padding: 25px;
  font-size: 20px;
}

.far {
  color:#0df053;
  padding-left: 15px ;
}

/* SERVICIO  */

.imgContainer {
  padding-top: 80px;
  background: #efefef;
  text-align: center;
}

.info2 {
  font-size: 20px;
  padding: 30px;
  padding-bottom: 60px;
  line-height: 40px;
}

.imgContainer2 {
  background: #efefef;
  height: 730px;
  text-align: center;
  margin-top: -6px ;
}

.imgMain2 {
  padding-top: 15px;
  width: 60%;
}

.serviceInfo {
  padding: 20px;
  font-size: 20px;
}

.serviceTitle {
  text-align: center;
  padding-top: 60px;
  font-size: 40px;
}

.serviceTitle2 {
  text-align: center;
  padding-top: 15px;
  font-size: 20px
}

.p{
  padding: 20px;
  text-align: center;
  line-height: 35px;
  font-size: 111%;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* FOOTER */

.pie-pagina{
  padding-top: 20px;
  width: 100%;
  background-color: var(--darkBlue);

}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}

.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 45px;
  color: #fff;
  margin-right: 30px;
  background-color: #0d2033;
  text-align: center;
  align-items: center;
  transition: all 300ms ease;
  font-size: 50px;
}

.pie-pagina .grupo-1 .red-social a:hover{
  color:#113a63;
}

.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small{
  font-size: 15px;
}

.btnWp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0,0,0,.3);
}

.btnWp:hover {
  text-decoration: none;
  color: #0df053;
  background: white;
  transition: .5s
}

@media (max-width: 768px) {

  /* HEADER */

  .navMenu {
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    background-color: #162f47;
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 80px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.8s
  }

  .navMenuLink {
    padding: 8px 12px
  }
  
  .navToggle {
    display: block;
  }
  
  .navMenuVisible{
    left: 0
  }

  /* NOSOTROS */

  .pcontainer {
    display: block;
    padding: 15px
  }

  .noshow { 
    display: none;
  }

  /* SERVICIO  */

  .imgContainer {
  background: #efefef;
  text-align: center;
  margin-top: -80px;
  }

  .info2 {
  font-size: 20px;
  }

  .imgContainer2 {
  background: #efefef;
  height: 350px;
  text-align: center;
  }

  .imgMain2 {
  padding-top:0px;
  width: 60%;
  }

  .serviceInfo {
  padding: 0px 20px;
  font-size: 15px;
  }

  .serviceTitle {
  text-align: center;
  font-size: 20px;
  }

  .serviceTitle2 {
  text-align: center;
  
  font-size: 15px
  }
  /* FOOTER */

  .pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:30px;
    padding: 35px 0px;
    text-align: center;
  }

  .pie-pagina .grupo-1 .red-social{
    padding-left: 35px;
  }
}